{% extends 'layout.twig' %}

{% block body %}

{% for type, message in messages %}
	{% if (type == 'error') %}
	<div class="isa_error">
		<i class="fa fa-times-circle"></i>
		{{ message }}
	</div>
	{% elseif (type == 'notice') %}
	<div class="isa_success">
		<i class="fa fa-check"></i>
		{{ message }}
	</div>
	{% endif %}
{% endfor %}

    <div id='mainform'>
    	<div class="row">
			<div class="six columns">
				<span style='text-decoration: underline; font-size:120%; margin-left:10px;'>Your Profile:</span>

				
				<table align="center" style="width:95%;">
					<tr><td>Email</td><td style="font-weight: bold;">{{ user.email }}</td></tr>
					<tr><td>Username</td><td style="font-weight: bold;">{{ user.username }}</td></tr>
					<tr><td>Date Joined</td><td style="font-weight: bold;">{{ user.createdAt }}</td></tr>
				</table>

				<span style='text-decoration: underline; font-size:120%; margin-left:10px;'>Your Balances:</span>
				
				<table align="center" class="table table-striped" style="width:95%;">
					<tr><td>Qredit<br /><span id='xqr_balance' style="font-weight: bold;">{{ xqrbalance|number_format(0, '.', ',') }}</span> XQR</td><td style="text-align:right;"><button class="button-primary" id="deposit_xqr">deposit</button></td><td><button class="button-primary" id="withdraw_xqr">withdraw</button></td></tr>
					<tr><td>Crypto Guesser Token<br /><span id='cgt_balance' style="font-weight: bold;">{{ cgtbalance|number_format(0, '.', ',') }}</span> CGT</td><td style="text-align:right;"><button class="button-primary" id="deposit_cgt">deposit</button></td><td><button class="button-primary" id="withdraw_cgt">withdraw</button></td></tr>

				</table>

			</div>
			<div class="six columns">
			
				
				<center><span style='text-decoration: underline; font-size:120%; margin-left:10px;'>Your Stats:</span> 
				<select id="statsType">
					<option value="blackjackStats">Blackjack</option>
					<option value="cryptoguesserStats">CryptoGuesser</option>
					<option value="diceStats">Dice</option>
					<option value="lottoStats">Lotto</option>
					<option value="minesweeperStats">Minesweeper</option>
					<option value="plinkoStats">Plinko</option>
					<option value="rouletteStats">Roulette</option>
					<option value="slotsStats">Slots</option>
					<option value="videopokerStats">Video Poker</option>
				</select></center>
				  
				  <div id='blackjackStats'>
					<table align="center" class="table table-striped" style="width:95%;">
						<tr><td style="text-align:right; width:40%;">Decks Played</td><td style="font-weight: bold;">{{ user.statsBlackjack.decksplayed is defined ? user.statsBlackjack.decksplayed|number_format(0, '.', ',') : 0 }}</td></tr>
						<tr><td style="text-align:right; width:40%;">Hands Played</td><td style="font-weight: bold;">{{ user.statsBlackjack.handsplayed is defined ? user.statsBlackjack.handsplayed|number_format(0, '.', ',') : 0 }}</td></tr>
						<tr><td style="text-align:right; width:40%;">Hands Won</td><td style="font-weight: bold;">{{ user.statsBlackjack.handswon is defined ? user.statsBlackjack.handswon|number_format(0, '.', ',') : 0 }}</td></tr>
						<tr><td style="text-align:right; width:40%;">Hands Lost</td><td style="font-weight: bold;">{{ user.statsBlackjack.handslost is defined ? user.statsBlackjack.handslost|number_format(0, '.', ',') : 0 }}</td></tr>
						<tr><td style="text-align:right; width:40%;">Hands Pushed</td><td style="font-weight: bold;">{{ user.statsBlackjack.handspushed is defined ? user.statsBlackjack.handspushed|number_format(0, '.', ',') : 0 }}</td></tr>
						<tr><td style="text-align:right; width:40%;">Hands Surrendered</td><td style="font-weight: bold;">{{ user.statsBlackjack.handssurrendered is defined ? user.statsBlackjack.handssurrendered|number_format(0, '.', ',') : 0 }}</td></tr>
						<tr><td style="text-align:right; width:40%;">Splits</td><td style="font-weight: bold;">{{ user.statsBlackjack.handssplit is defined ? user.statsBlackjack.handssplit|number_format(0, '.', ',') : 0 }}</td></tr>
						<tr><td style="text-align:right; width:40%;">Total Bets (XQR)</td><td style="font-weight: bold;">{{ user.statsBlackjack.totalbets_xqr is defined ? user.statsBlackjack.totalbets_xqr|number_format(0, '.', ',') : 0 }} XQR</td></tr>
						<tr><td style="text-align:right; width:40%;">Total Won (XQR)</td><td style="font-weight: bold;">{{ user.statsBlackjack.totalwon_xqr is defined ? user.statsBlackjack.totalwon_xqr|number_format(0, '.', ',') : 0 }} XQR</td></tr>
						<tr><td style="text-align:right; width:40%;">Total Bets (CGT)</td><td style="font-weight: bold;">{{ user.statsBlackjack.totalbets_cgt is defined ? user.statsBlackjack.totalbets_cgt|number_format(0, '.', ',') : 0 }} CGT</td></tr>
						<tr><td style="text-align:right; width:40%;">Total Won (CGT)</td><td style="font-weight: bold;">{{ user.statsBlackjack.totalwon_cgt is defined ? user.statsBlackjack.totalwon_cgt|number_format(0, '.', ',') : 0 }} CGT</td></tr>
						<tr><td style="text-align:right; width:40%;">Blackjacks</td><td style="font-weight: bold;">{{ user.statsBlackjack.blackjacks is defined ? user.statsBlackjack.blackjacks|number_format(0, '.', ',') : 0 }}</td></tr>
						<tr><td style="text-align:right; width:40%;">Win Percentage</td><td style="font-weight: bold;">{{ user.statsBlackjack.winpercentage is defined ? user.statsBlackjack.winpercentage : 0 }}%</td></tr>
					</table>
				</div>
				
				<div id='cryptoguesserStats' style='display:none;'>
				
					<table align="center" class="table table-striped" style="width:95%;"><tr><td>Game Not Yet Active</td></tr></table>
				
				</div>
				
				<div id='diceStats' style='display:none;'>
				
					<table align="center" class="table table-striped" style="width:95%;"><tr><td>Game Not Yet Active</td></tr></table>
				
				</div>
				
				<div id='lottoStats' style='display:none;'>
				
					<table align="center" class="table table-striped" style="width:95%;"><tr><td>Game Not Yet Active</td></tr></table>
				
				</div>
				
				<div id='minesweeperStats' style='display:none;'>
				
					<table align="center" class="table table-striped" style="width:95%;"><tr><td>Game Not Yet Active</td></tr></table>
				
				</div>
				
				<div id='plinkoStats' style='display:none;'>
				
					<table align="center" class="table table-striped" style="width:95%;"><tr><td>Game Not Yet Active</td></tr></table>
				
				</div>
				
				<div id='rouletteStats' style='display:none;'>
				
					<table align="center" class="table table-striped" style="width:95%;"><tr><td>Game Not Yet Active</td></tr></table>
				
				</div>
				
				<div id='slotsStats' style='display:none;'>
				
					<table align="center" class="table table-striped" style="width:95%;"><tr><td>Game Not Yet Active</td></tr></table>
				
				</div>
				
				<div id='videopokerStats' style='display:none;'>
				
					<table align="center" class="table table-striped" style="width:95%;"><tr><td>Game Not Yet Active</td></tr></table>
				
				</div>
				
			</div>
		</div>
    	<div class="row">
			<div class="twelve columns">
				<span style='text-decoration: underline; font-size:120%; margin-left:10px;'>Your Recent Transactions:</span>

		
			<table align="center" class="transactions" style="width:95%;">
				<thead>
					<tr><th>Date</th><th>Currency</th><th>Type</th><th>Address</th><th>Amount</th><th>TXID</th><th>Status</th></tr>
				</thead>
				<tbody id='transactionlist' style="font-size:90%;"></tbody>
			</table>
			
			<div id='loadingtrxlist' style="margin-top:-20px;"><center><i class="fas fa-cog fa-spin"></i></center><br /></div>
			
			</div>
		</div>
    </div>

{% endblock %}
{% block javascripts %}
<script>

$(document).ready(function() {
	
	var socket = io();
	
	socket.emit('getRecentTransactions', {});
	
  	socket.on('recentTransactions', function (data) { 

  		var tbody = document.getElementById('transactionlist');
  		tbody.innerHTML = '';
  		
  		var tr, td;
  		
  		if (data.length == 0)
  		{
  			document.getElementById('loadingtrxlist').innerHTML = "<center>No Transactions Found</center><br />";
  		}
  		else
  		{
  			document.getElementById('loadingtrxlist').innerHTML = '';
  		}

		data.forEach( function(item) {
					
			tr = document.createElement('tr');
			
			td = document.createElement('td');
			td.innerHTML = new Date(item.createdAt).toUTCString();
			tr.append(td);
			
			td = document.createElement('td');
			td.innerHTML = item.currency.toUpperCase();
			tr.append(td);

			td = document.createElement('td');
			td.innerHTML = capitalizeFirstLetter(item.type);
			tr.append(td);
			
			td = document.createElement('td');
			td.innerHTML = item.address.substr(0,6) + '....' + item.address.substr(-6);
			tr.append(td);
			
			td = document.createElement('td');
			td.innerHTML = Number(item.amount).toLocaleString();
			tr.append(td);
			
			td = document.createElement('td');
			if (item.transactionid)
			{
				td.innerHTML = item.transactionid.substr(0,6) + '....' + item.transactionid.substr(-6);
			}
			else
			{
				td.innerHTML = 'N/A';
			}
			tr.append(td);

			td = document.createElement('td');
			td.innerHTML = capitalizeFirstLetter(item.status);
			tr.append(td);
			
			tbody.append(tr);
		
		});

  	});
  	
  	$('#statsType').change(function(){
  	
  		var selectedType = $('#statsType').val();
  		
  		$('#blackjackStats').hide();
  		$('#cryptoguesserStats').hide();
  		$('#diceStats').hide();
  		$('#lottoStats').hide();
  		$('#minesweeperStats').hide();
  		$('#plinkoStats').hide();
  		$('#rouletteStats').hide();
  		$('#slotsStats').hide();
  		$('#videopokerStats').hide();
  		
  		$('#'+selectedType).show();
  		
  	});

	$('#deposit_xqr').click(function(){
			
		$('#deposit_xqr').html('&nbsp;&nbsp;&nbsp;<i class="fas fa-cog fa-spin"></i>&nbsp;&nbsp;&nbsp;');
		socket.emit('getDepositAddress', {currency: 'xqr'});
	
	});
	
	$('#withdraw_xqr').click(function(){
			
		var html = '<div style="border-radius:5px; text-align:center; height: 400px; width:95%; max-width:500px; margin-left:auto; margin-right:auto; background-color:#fff;"><br /><strong>Withdraw Qredit (XQR)</strong><br/ ><br /><form method="post" action="/withdraw" onsubmit="return validateWithdrawForm()"><input type="hidden" name="_csrf" value="{{ csrfToken }}"><div style="width:90%; margin-left:auto; margin-right:auto;"><label for="wdaddress">To Address:</label><input class="u-full-width" type="text" placeholder="XQR Address" name="wdaddress" id="wdaddress"></div><div style="width:90%; margin-left:auto; margin-right:auto;"><label for="wdamount">Withdraw Amount:</label><input class="u-full-width" type="number" placeholder="Amount" name="wdamount" id="wdamount" value="" autocomplete="off"></div><input type="text" autocomplete="username" style="display:none;"><div style="width:90%; margin-left:auto; margin-right:auto;"><label for="password">Your Password:</label><input class="u-full-width" type="password" placeholder="Password" name="password" id="password"></div><button type="submit" class="button-primary" id="makewithdraw">Make Withdraw</button></form></div>';

		$.magnificPopup.open({
			closeOnBgClick: true,
			enableEscapeKey: true,
			items: {
				src: html,
				type: 'inline'
			},
			callbacks: {
				open: function() {
				


				}
			}
		});
	
	});

	$('#deposit_cgt').click(function(){
			
		$('#deposit_cgt').html('&nbsp;&nbsp;&nbsp;<i class="fas fa-cog fa-spin"></i>&nbsp;&nbsp;&nbsp;');
		socket.emit('getDepositAddress', {currency: 'cgt'});
	
	});
	
	$('#withdraw_cgt').click(function(){
			
		var html = '<div style="border-radius:5px; text-align:center; height: 400px; width:95%; max-width:500px; margin-left:auto; margin-right:auto; background-color:#fff;"><br /><strong>Withdraw CryptoGuesserToken (CGT)</strong><br/ ><br /><form method="post" action="/withdraw" onsubmit="return validateWithdrawForm()"><input type="hidden" name="_csrf" value="{{ csrfToken }}"><div style="width:90%; margin-left:auto; margin-right:auto;"><label for="wdaddress">To Address:</label><input class="u-full-width" type="text" placeholder="XQR Address" name="wdaddress" id="wdaddress"></div><div style="width:90%; margin-left:auto; margin-right:auto;"><label for="wdamount">Withdraw Amount:</label><input class="u-full-width" type="number" placeholder="Amount" name="wdamount" id="wdamount" value="" autocomplete="off"></div><input type="text" autocomplete="username" style="display:none;"><div style="width:90%; margin-left:auto; margin-right:auto;"><label for="password">Your Password:</label><input class="u-full-width" type="password" placeholder="Password" name="password" id="password"></div><button type="submit" class="button-primary" id="makewithdraw">Make Withdraw</button></form></div>';

		$.magnificPopup.open({
			closeOnBgClick: true,
			enableEscapeKey: true,
			items: {
				src: html,
				type: 'inline'
			},
			callbacks: {
				open: function() {
				


				}
			}
		});
	
	});

  	socket.on('depositAddress', function (data) { 
  	
  		var extranotice = "";
  		
  		if (data.currency.toUpperCase() == 'XQR' || data.currency.toUpperCase() == 'CGT')
  		{
  		
  			extranotice = "<span style='font-size:90%;'>Notice: We use whole numbers only (no digits).  Deposits not made in whole numbers will be rounded down.</span>";
  		
  		}
  	
  		var payaddress = "<div class='input-group' style='width:90%; margin-left:auto; margin-right:auto;'><input class='u-full-width' id='payaddress' type='text' value='" + data.address + "' style='margin-bottom:0px;'><span class='input-group-addon clipbutton' id='payaddressbutton' data-clipboard-target='#payaddress'>copy</span></div>";

		var html = '<div style="border-radius:5px; text-align:center; height: 500px; width:95%; max-width:500px; margin-left:auto; margin-right:auto; background-color:#fff;"><br /><strong>Deposit ' + data.currencyName + ' (' + data.currency.toUpperCase() + ')</strong><br/ >' + extranotice + '<br /><strong>Your Deposit Address:</strong><br />' + payaddress + '' + data.qrcode + '</div>';

		$.magnificPopup.open({
			closeOnBgClick: true,
			enableEscapeKey: true,
			items: {
				src: html,
				type: 'inline'
			},
			callbacks: {
				open: function() {
				
					if (data.currency.toUpperCase() == 'XQR')
					{
						$('#deposit_xqr').html('deposit');
					}
					else if (data.currency.toUpperCase() == 'CGT')
					{
						$('#deposit_cgt').html('deposit');
					}

					var clipboard = new ClipboardJS('.clipbutton');
	
					clipboard.on('success', function(e) {
		
						var bgcol = $('#' + e.trigger.id).css('backgroundColor');
						$('#' + e.trigger.id).animate({backgroundColor: "#ADD8E6"}, 1);
						$('#' + e.trigger.id).animate({backgroundColor: bgcol}, 1000);
		
						e.clearSelection();
					});

				}
			}
		});

  	});
  	
	socket.on('showNotification', function(data) {

		var message = data.message;
		var type = data.type; // info
		
		new Noty({
			layout: 'topCenter',
			text: '<center>' + message + '</center>',
			killer: 'global',
			theme: 'relax',
			type: type
		}).show();
				
		socket.emit('getRecentTransactions', {});
		
		socket.emit('getBalanceInfo', {});
	
	});
	
	socket.on('balanceInfo', function (data) { 
	
		var xqrbalance = Number(data.balancexqr).toLocaleString();
		var cgtbalance = Number(data.balancecgt).toLocaleString();
		
		$('#xqr_balance').html(xqrbalance);
		$('#cgt_balance').html(cgtbalance);
	
	});
  	
    
});    


    
function capitalizeFirstLetter(string) {
	return string.charAt(0).toUpperCase() + string.slice(1);
}

function validateWithdrawForm() {
  
  var wdaddress = $('#wdaddress').val();
  var wdamount = $('#wdamount').val();
  var password = $('#password').val();

  if (wdaddress == '')
  {
  	alert("Missing To Address");
  	return false;
  }
  
  $('#wdamount').val(parseInt(wdamount));
  
  if (parseInt(wdamount) == '' || parseInt(wdamount) == 0)
  {
  	alert("Missing Withdraw Amount");
  	return false;
  }
  
  if (password == '')
  {
  	alert("Missing Password");
  	return false;
  }
  
  
}
    
</script>
{% endblock %}


